
.navbar-container{
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    position: sticky !important;
    top: 0px !important;
    background-color: #f8f9fa;;
}
@media (min-width: 992px){
    #small-screen{
      display: none !important;
    }
  }
@media (max-width: 992px) {
    #big-screen{
        display: none !important;
    }
}
